.google{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width:200px;
  margin-bottom:10px;
}
.search-box{
    width:800px;
    font-size:20px;
    border-radius:32px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border:none;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
}