.p{
    margin-top:0px;
    margin-bottom:0px;
}
.email-box{
    margin-top:0px;
    margin-bottom:0px;
}
.agree{
    background-color:blue;
    color:white;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:150px;
    padding-right:15px;

}