.part1,.part2{
    display:inline-block;
    vertical-align:top;
}
.part1{
    margin-right:15px;
}


.thumb-1{
    width:275px;
}
.obj1,.obj2{
    margin-top:0px;
    margin-bottom:0px;
}
.obj1{
    margin-bottom:8px;
}

.channel-1,.des-1{
    display:inline-block;
    vertical-align:top;
}
.channel-1{
    width:50px;
    
}
.des-1{
    width:200px;
    
}

.chimg-1{
    width:40px;
    border-radius: 50%;
}
p{
    margin-top:0px;
    margin-bottom:0px;
}
.des11{
 font-family:'Roboto';
 font-size:16px;
 margin-top:0px;
width:220px;
font-weight:500px;
line-height:23px;
margin-bottom:10px;
}
.des12,.des13{
    font-family:'Arial';
    font-size:14px;
    color:gray;

}
.des12{
    margin-bottom:4px;
}

