.final_grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video{
    width:100%;
    vertical-align:top;
}
.thumbnail{
    width:100%;
    margin-bottom:12px;
    
}
.inner_grid{
    display:grid;
    grid-template-columns:50px 1fr;
    column-gap:5px;
    
}
.channel_pic{
    width:40px;
    border-radius:50%;
   
}

.video-title{
    font-size:15px;
    font-weight:500px;
    line-height:20px;
    margin-bottom:12px;
}

.author,.stats{
    font-size: 12px;
    color:gray;
}

.stats{
    margin-top:5px;
}